# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
prisma/.env
prisma/migrations

# Local Netlify folder
.netlify

# Svelte
.svelte-kit

# Vite
__sapper__

# TypeScript cache
*.tsbuildinfo
